* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Info */
.header-info {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
    font-size: 16px;
}

.header-info .contact-item {
    display: flex;
    align-items: center;
}

.header-info .contact-item img {
    width: auto;
    height: 60px;
    margin-right: 8px;
}

/* Navbar */
.navbar-nav .nav-link {
    color: #000;
    margin: 0 20px;
}

.navbar-toggler-icon {
    color: #007bff;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

/* Carousel */
#headerCarousel {
    position: relative;
    top: -150px;
}

.carousel-item img {
    object-fit: cover;
    height: 90vh;
}

/* Responsive Carousel Images */
@media (max-width: 576px) {
    .carousel-item img {
        height: 40vh;
    }
}
@media (max-width: 768px) {
    .carousel-item img {
        height: 50vh;
    }
}

/* About Us Section */
#about {
    background-color: #f8f9fa;
    padding: 50px 0;
    margin-top: -20px;
}

#about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #007bff;
}

#about p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #6c757d;
}


/* -------------------------- */

/* .nav2{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    width: 100%;
}
nav ul{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    margin-inline: 60px;
    font-size: 20px;
    color: white;
    display: flex;
}
.icon{
    display: none;
    font-size: 20px;
    color: white;
    align-items: center;
    margin-left: 300px;
}


.logo{
    margin: 10px;
}
.logo_img{
    height: 50px;
    width: 50px;
}
.side_logo h3{
    color: white;
}
@media only screen and (max-width: 600px){
    nav ul{
        display: none;
    }
    .icon{
        display: flex;
        cursor: pointer;
        justify-content: right;
        align-items: right;
    }
    .showData{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 2px;
        background-color: rgb(120, 120, 120);
        width: 95%;
        height: 240px;
        gap: 20px;
        padding: 0%;
        text-align: center;
    }
}     */